In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
from snowflake.snowpark.functions import upper
def to_upper_str_columns(df):
    return df.withColumn("CourseName",upper(df.CourseName))

In [ ]:
df = session.createDataFrame([("java", 1)], ("CourseName", "value"))
df.

In [ ]:
import modin.pandas as pd

# Import the Snowpark pandas plugin for modin.
import snowflake.snowpark.modin.plugin

df = session.createDataFrame([("java", 1)], ("CourseName", "value"))
df_p = df.to_snowpark_pandas() 
dft = df_p.transform(lambda x: upper(x), axis=1)
dft

# df = session.create_dataframe([[1, 2, 3]], schema=["a", "b", "c"])
# pdf = df.to_snowpark_pandas()
# a_df = pdf.transform(lambda x: x + 1, axis=1)
# a_df

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")